    body{
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: rgb(255, 183, 0);
        text-align: center;
    }
    li{
        border-style: solid;
    }